:root {
  --pagedjs-margin-left: 10mm !important;
  --pagedjs-margin-right: 10mm !important;
  --pagedjs-margin-top: 10mm !important;
  --pagedjs-margin-bottom: 10mm !important;
}

.grid-page {
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
  height: 100%;
  font-size: 10pt;
  break-before: page;
}

@media print{
  .grid-page {
    grid-template-rows: repeat(12, 12mm);
    grid-template-columns: repeat(12, 19mm);
    grid-gap: 4mm;
  }
}

.card table {
  width: 100%;
  font-family: "Space Grotesk";
}

.card td {
  padding: 0px 5px;
}

table.metadata, table.script {
  border: 1px solid #40ADFE;
}

table.metadata th, table.script th {
  background-color: #40ADFE66;
}

table.code, table.dependency, table.documentation {
  border: 1px solid #8AC755;
}

table.code th, table.dependency th, table.documentation th {
  background-color: #8AC75566;
}

table.debug, table.test, table.collaborate {
  border: 1px solid #FFEC1C;
}

table.debug th, table.test th, table.collaborate th {
  background-color: #FFEC1C66;
}

table.error {
  border: 1px solid #FF144C;
}

table.error th {
  background-color: #FF144C66;
}

table.card_back {
  width: 100%;
}

tr.remove {
  display: none;
}

td {
  text-align: center;
  vertical-align: top;
}

td.logo {
  height: 125px;
}

td.logo svg {
  height: 125px;
  width: 125px;
}

td.action_label {
  font-weight: 600;
  text-align: right;
  width: 25%;
}

td.action_detail {
  font-weight: 600;
  text-align: left;
  width: 75%;
}

td.code_label, td.code_value, td.error_label, td.error_value {
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
}

table.card_back td.game_logo {
  text-align: center;
  vertical-align: middle;
}

.instructions {
  display: block !important;
  column-count: 3;
  column-fill: auto;
  column-gap: 10mm;
  orphans: 3;
}

.instructions div.game_logo {
  text-align: center;
}

.instructions div {
  display: block !important;
}

.instructions p {
  display: block !important;
}

.instructions .card_icon {
  display: inline-block !important;
}

.instructions .card_icon svg {
  width: 90px;
  height: 90px;
}

.instructions .icon_container {
  display: flex !important;
  justify-content: space-evenly;
}

.instructions.balance {
  column-fill: balance;
}

.instructions .icon_container .card_icon {
  display: block !important;
}

.instructions p:last-of-type {
  margin-bottom: 18pt !important;
}

hr {
  height: 0px;
  border: none;
  margin-top: 200pt;
}

.margin-top-0 h2, .margin-top-0 h3, .margin-top-0 h4 {
  margin-top: 0px !important;
}

